* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

body {
    font-family: 'Roboto';
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

#logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

#logo a {
    color: white;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: white;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 7px;
    transition: all 0, 3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

#hero {
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-left {
    display: flex;
    justify-content: center;
}

.hero-left img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid #352e34;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: 0.5s;
}

.hero-left img:hover {
    transform: scale(1.2);
}

.hero-right {
    justify-content: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-right h3 {
    color: #e5e5e5;
    font-size: 1.5rem;
}

.hero-right h3 span {
    color: red;
    font-size: 1.5rem;
}

.hero-right h1 {
    color: red;
    font-size: 3rem;
}

.hero-right p {
    color: #e5e5e5;
}

.hero-right .social i {
    color: #e5e5e5;
    font-size: 1.3rem;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-right .social i:hover {
    color: red;
    transform: rotate(360deg);
}

#skills {
    margin-top: 10rem;
    margin-bottom: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#skills h1 {
    font-size: 2.5rem;
    color: #e5e5e5;
    margin-bottom: 1rem;
}

#skills span {
    color: red;
}

.logos {
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
}

.logos-slide {
    display: flex;
    width: fit-content;
    animation: slide 15s linear infinite;
}

.logos-slide img {
    width: 200px;
    margin: 2rem 15px;
    transition: transform 0.3s;
}

.logos-slide img:hover {
    transform: scale(1.2);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-50%);
    }
}

#project{
    margin-top: 10rem;
    margin-bottom: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#project h1 {
    font-size: 2.5rem;
    color: #e5e5e5;
    margin-bottom: 3rem;
}

#project span {
    color: red;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    width: 1200px;
    margin: 1.5rem auto;
}

@media screen and (max-width: 1200px) {
    .project-list {
        width: 90%;
    }
}

.porto {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10rem;
}

.porto img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ease;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), red);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0, 40px; 
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ease;
}

.layer h3 {
    font-size: 1.5rem;
}

.layer h3, .layer p {
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
}

.layer a {
    margin-top: 20px;
    color: red;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.porto:hover img {
    transform: scale(1.1);
}

.porto:hover .layer {
    height: 100%;
}

@media (max-width: 768px) {
    .porto {
        margin-bottom: 20px; 
    }

    .layer {
        font-size: 12px; 
    }

    .layer a {
        font-size: 16px; 
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media (max-width: 480px) {
    .porto {
        margin-bottom: 15px;
    }

    .layer {
        font-size: 10px;
    }

    .layer a {
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
#contact {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

#contact h1 {
    margin-bottom: 5rem; 
}

#contact h2 {
    color: white;
    font-size: 1.5rem; 
}

.container-contact {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem; 
}

.email, .or, .instagram {
    justify-content: center;
    text-align: center;
}

.container-contact .social i {
    color: #e5e5e5;
    font-size: 1rem; 
    margin-right: 8px;
    transition: 0.5s;
}

.container-contact .social i:hover {
    color: red;
    transform: rotate(360deg);
}

@media (min-width: 768px) {
    .container-contact {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media (min-width: 1024px) {
    .container-contact {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contact h2 {
        font-size: 2rem; 
    }

    .container-contact .social i {
        font-size: 1.3rem; 
    }
}

footer {
    margin-top: 10rem;
    color: white;
}
